.child {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: url("../src/Images/grass-1280.jpg");
	background-size: cover;
	background-position: center;
}
img{
	max-height: 400px;
	max-width: 350px;
	margin: auto;
}